target/
!.mvn/wrapper/maven-wrapper.jar

.classpath
.project
.settings/
.springBeans
.sts4-cache/

.idea/
*.iml

.vscode/

.DS_Store
Thumbs.db

*.log

.env
.env.*

application-local.properties
application-secret.properties